{{> feedback}}

<div class="form">
    <div class="title">
       {{title}}
    </div>
    <form>
        <div class="form-group">
            <label for="value">Value</label>
            <input type="text" name="value" id="value" placeholder="Required" required>
        </div>
        <div class="form-group">
            <label for="translation">Translation</label>
            <input type="text" name="translation" id="translation" placeholder="Required" required>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" id="category">
                {{#each categories}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="keyword">Keyword</label>
            <input type="text" name="keyword" id="keyword">
        </div>
        <div class="form-group">
            <label for="partOfSpeech">Part of Speech</label>
            <select name="partOfSpeech" id="partOfSpeech">
                {{#each partsOfSpeech}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="example">Example</label>
            <input type="text" name="example" id="example">
        </div>
        <button type="submit">Add to Vocab</button>
    </form>
</div>